<p id="notice"><%= notice %></p>

<h1>This is Taskchecker Home Page</h1>
<p>
With this program teachers can create questions. Students answer to them and Taskchecker checks answers.
</p>
<p>
  Program works the following way
  <br>
  1) Sign up as a Teacher
  <br>
  2) Log in as Teacher and define a School Class
  <br>
  3) Students can sign up and connect to School class
  <br>
  4) Teacher defines questions to school classes
  <br>
  5) Students answer to these questions
</p>