<%# add navigation links to this file %>

<li><%= link_to 'Student Sign up', new_student_path, class: 'navbar-brand' %></li>
<li><%= link_to 'Teacher Sign up', new_teacher_path, class: 'navbar-brand' %></li>
<li><%= link_to 'Student Sign in', new_studentsession_path, class: 'navbar-brand' %></li>
<li><%= link_to 'Teacher Sign in', new_teachersession_path, class: 'navbar-brand'  %></li>
